body {
    font-family: Arial;
    padding: 20px;
}

form input,
form button {
    padding: 8px;
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

a {
    color: green;
    text-decoration: none;
}